{% extends "cd/base.html" %}

{% block title %}Add a comment{% endblock %}

{% block content %}
    {% if comment %}
        <h2>Your comment has been added</h2>
        <p><a href="{{ post.get_absolute_url }}">Back to the post</a></p>
    {% else %}
      {% include "cd/post/includes/comment_form.html" %}
    {% endif %}
{% endblock %}

<!--Это шаблон представления комментариев к посту. В данном представлении мы ожидаем,
    что форма будет передаваться на обработку методом POST. Шаблон охватывает два разных сценария:

    если переданные данные формы валидны, то переменная comment будет содержать созданный объект comment,
    и на страницу будет выведено сообщение об успехе;

    если переданные данные формы невалидны, то переменной comment будет назначено значение None.
    В этом случае мы отобразим комментарную форму. Для вставки созданного ранее шаблона comment_form.html
    используется шаблонный тег include-->