{% extends "cd/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<article class="blog-post">
    <p class="blog-post-meta">{{ post.publish }} by <a href="#">{{ post.author }}</a></p>
    <h4 class="display-10 link-body-emphasis mb-1">
        {{ post.title }}
    </h4>
    <p>{{ post.body|linebreaks }}</p>
    <p>
        <a href="{% url 'cd:post_share' post.id %}" target="_blank" title="share this post">
            <i class="fa fa-share"></i>
        </a>
    </p>
        {% with comments.count as total_comments %}
            <h6>
                comment{{ total_comments|pluralize }} {{ total_comments }}
            </h6>
        {% endwith %}
        {% for comment in comments %}
            <div class="comment">
                <p class="info">
                    Comment {{ forloop.counter }} by {{ comment.name }}
                    {{ comment.created }}
                </p>
                {{ comment.body|linebreaks }}
            </div>
        {% empty %}
            <p>There are no comments</p>
        {% endfor %}
        {% include "cd/post/includes/comment_form.html" %}
</article>
{% endblock %}
