{% extends "cd/base.html" %}

{% block title %}Share a post{% endblock %}

{% block content %}
 {% if sent %}
   <h4>E-mail successfully sent</h4><hr>
    <h5 class="blog-post-meta">
        <b><em>"{{ post.title }}"</em></b> was successfully sent to {{ form.cleaned_data.to }}.
    </h5>

 {% else %}
    <h3>Share "{{ post.title }}" by e-mail</h3>
    <form method="post" novalidate>
        {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                    <div class="control-group">
                        {{ field }}
                    </div>
                {% if field.errors %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
            {% endfor %}
            <button class="btn btn-primary py-1 px-2 Send e-mail"
                    type="submit" >Send e-mail</button>
    </form>
 {% endif %}
{% endblock %}